---
layout: default
---

<div class="container pt-3">
    <div class="card-group row text-center">
        {% assign posts = site.project | where: "highlight", "1" | where: "active", "1" | reverse %}
        {% for post in posts limit:6 %}
        {% include post_group.html %}
        {% endfor %}
    </div>
    <p class="float-right highlight mb-4">These are my favorite projects. Look for more of them <a href="https://tuengominh.github.io/tag.html">here</a>!</p>
</div>

<div class="container mb-5 pt-2 pb-5">
    <p>I'm <a href="https://www.linkedin.com/in/tue-m-ngo-2b544489/">Tue M. Ngo,</a> born and raised in Saigon :vietnam:, adopted by Barcelona :es: and currently based in Nijmegen :netherlands:.</p>
    <p>Possessing a multi-disciplinary background, I am confident in integrating various theoretical, computational, experimental and technological techniques to conduct diverse scientific and engineering projects, as long as they're inspriring and enjoyable.</p>
    <p>Currently, I am interested in topics such as biomimetic adaptive systems :brain:, neuromorphic engineering :dna:, modular robotics :robot: and bits-to-atoms computation :atom_symbol:. I am also leaning towards being part of a community of anti-disciplinary software craftsmen and makers.</p>
    <p>This website is used to document my journey <a href="{{site.baseurl}}/tldr.html">becoming self-taught</a> :woman_scientist:, <a href="{{site.baseurl}}/tinkering.html"></a>exploring new tools</a> :woman_technologist: and <a href="{{site.baseurl}}/project.html">building (almost) anything</a> :woman_mechanic:. If you have any interesting ideas to discuss, shoot me an <a href="mailto:tue.ngominh@gmail.com">email</a>.</p>
</div>











