---
layout: default
title: Hello, my name is Tue!

---
<div class="pt-4 text-center">
    <h2>{{page.title}}</h2>
</div>

<div class="container pt-3">
    <div class="card-group row text-center">
        {% assign posts = site.assignments | where: "active", "1" | reverse %}
        {% for post in posts limit:6 %}
        {% include assignment_group.html %}
        {% endfor %}
    </div>
    <p class="float-right highlight mb-4">These are my latest assignments. Click <a href="{{site.baseurl}}/assignments.html">here</a> to see all of them >>></p>
</div>

<div class="container mb-5 pb-5">
        <p>I'm <a href="https://www.linkedin.com/in/tue-m-ngo-2b544489/">Tue M. Ngo,</a> an infinite learner from Vietnam and based in Barcelona.</p>
        <p>I graduated with multiple degrees in Graphic Design, Software Development, and Digital Entrepreneurship. Currently, I'm working as a Web Developer. I mostly code in Java (Spring Boot), JavaScript (ReactJS, AngularJS), Ruby (Rails) and C# (.NET Core).</p>
        <p>I'm learning <a href="http://fabacademy.org/">how to make (almost) anything</a>. Using this website you can follow my journey through the Fab Academy program in Fab Lab Barcelona. For more information, please refer to my <a href="{{site.baseurl}}/agreement.html">Student Agreement</a> and <a href="{{site.baseurl}}/assignments.html">Weekly Assignments</a>.</p>
        <p>I aim to strengthen my ability to connect the digital and physical worlds, to create beyond the gaps and to make impacts across various segments. I'm also leaning towards being a part of the community of anti-disciplinary social innovators, software craftsmen, digital artists and makers. That's why I'm here!</p>
        <p>When I am offline and no one knows what I’m doing, I get to know new places and people, pursue new hobbies, and present in alternative universes.</p>
        <p>Take a look at my <a href="{{site.baseurl}}/final-project.html">Final Project</a> and if you have any interesting idea to discuss, feel free to shoot me an <a href="mailto:tue.ngominh@gmail.com">email</a> or message me on <a href="https://www.linkedin.com/in/tue-m-ngo-2b544489/">Linkedin</a>.</p>
</div>











