---
layout: default
---
<div class="container pt-3">
    <div class="card-group row text-center">
        {% assign posts = site.projects | where: "highlight", "1" | reverse %}
        {% for post in posts limit:6 %}
        {% include post_group.html %}
        {% endfor %}
    </div>
    <div class="card-group row text-center">
        {% assign pages = site.research | where: "highlight", "1" | reverse %}
        {% for page in pages limit:3 %}
        {% include post_group.html %}
        {% endfor %}
    </div>
</div>










