---
layout: default
title: Project
---
<div class="pt-3 text-center">
    <h2>{{page.title}}</h2>
</div>

<div class="container text-center pt-3 mb-4">
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project.html">All</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project-pecs.html">Cognitive Systems</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project-eci.html">Embodied Interaction</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project-tbra.html">Bits & Atoms</a>
    <a class="btn m-2" href="#">Others</a>
</div>

<div class="container py-3 mb-5">
    <div class="card-group row text-center">
        {% assign posts = site.project | where: "tag", "others" %}
        {% for post in posts %}
        {% include post_group.html %}
        {% endfor %}
    </div>
</div>