---
layout: default
title: Project
---
<div class="pt-3 text-center">
    <h2 style="color: black !important;">{{page.title}}</h2>
</div>

<div class="container text-center pt-3 mb-4">
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project.html">All</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project-pecs.html">Cognitive Systems</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project-eci.html">Embodied Interaction</a>
    <a class="btn m-2" href="#">Bits & Atoms</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/project-others.html">Others</a>
</div>

<div class="container mb-3">
    <p class="float-right highlight">These projects are inspired by my time working at <a href="https://fablabbcn.org/">Fab Lab Barcelona</a> and studying the <a href="http://academy.cba.mit.edu/classes/">Fab Academy</a> program. The program is directed by Dr.Neil Gershenfeld of MIT’s Center for Bits and Atoms.</p>
</div>

<div class="container pt-3 pb-5 mb-5">
    <div class="card-group row text-center">
        {% assign posts = site.project | where: "topic", "tbra" %}
        {% for post in posts %}
        {% include post_group.html %}
        {% endfor %}
    </div>
</div>