---
layout: default
title: Tinkering
---
<div class="pt-3 text-center">
    <h2>{{page.title}}</h2>
</div>

<div class="container text-center pt-3 mb-4">
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/tinkering.html">All</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/tinkering-code.html">Programming</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/tinkering-eda.html">Electronics</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/tinkering-3d.html">3D Modeling</a>
    <a class="btn btn-inactive m-2" href="https://tuengominh.github.io/tinkering-fab.html">Fabrication</a>
    <a class="btn m-2" href="#">Others</a>
</div>

<div class="container py-3 mb-5">
    <div class="card-group row text-center">
        {% assign posts = site.tinkering | where: "tag", "others" %}
        {% for post in posts %}
        {% include post_group.html %}
        {% endfor %}
    </div>
</div>

