---
layout: default
title: Tinkering
---
<div class="pt-4 text-center">
    <h2>{{page.title}}</h2>
</div>

<div class="container text-center py-4 mb-5">
    <a class="btn m-2" href="#">All</a>
    <a class="btn btn-inactive m-2" href="#">Programming</a>
    <a class="btn btn-inactive m-2" href="#">Electronics</a>
    <a class="btn btn-inactive m-2" href="#">Fabrication</a>
    <a class="btn btn-inactive m-2" href="#">Others</a>
</div>

<div class="container py-4 mb-5">
    <div class="card-group row text-center">
        {% assign posts = site.tinkering | reverse %}
        {% for post in posts %}
        {% include post_group.html %}
        {% endfor %}
    </div>
</div>

