<div id="footer">
    <div class="container mt-2 mb-0">
        <ul class="list-inline text-white">
                <li class="list-inline-item"><p class="m-0" style="color: darkgray; font-weight: lighter;">Tue M. Ngo © 2023 <a class="text-white" target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">BY-NC-SA 4.0</a></p></li>
                <li class="list-inline-item"><a class="text-white" target="_blank" href="mailto:tue.ngominh@gmail.com"><i class="fa fa-envelope fa-lg"></i></a></li>
                <li class="list-inline-item"><a class="text-white" target="_blank" href="https://www.linkedin.com/in/tue-m-ngo-2b544489/"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
                <li class="list-inline-item"><a class="text-white" target="_blank" href="https://github.com/tuengominh"><i class="fa fa-github fa-lg"></i></a></li>
        </ul>
    </div>
</div>
