<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white px-0">
        <a class="navbar-brand" href="{{site.baseurl}}" style="color: black!important; font-weight: bold !important;">
            <b style="font-weight: 700 !important;">Tue M. Ngo</b>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {% for item in site.data.navigation %}
                <li class="nav-item">
                    <a class="nav-link" href="{{site.baseurl}}{{ item.link }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
