<div class="col-sm-6 col-md-4 mb-4">
    <div class="card bg-dark text-white border-0 m-0">
        {% if post.active == 1 %}
        <a href="{{site.baseurl}}{{post.url}}">
            <div class="card-img">
                <img src="{{site.baseurl}}/assets/img/electronics/{{post.thumb}}" class="img-fluid w-100"/>
                <div class="card-img-overlay">
                    <div class="card-text">{{post.title}}</div>
                </div>
            </div>
        </a>
        {% else %}
        <a href="#">
            <div class="card-img">
                <img src="{{site.baseurl}}/assets/img/electronics/{{post.thumb}}" class="img-fluid w-100" style="filter: grayscale(100%); opacity: 0.8;"/>
                <div class="card-img-overlay">
                    <div class="card-text">{{post.title}}</div>
                </div>
            </div>
        </a>
        {% endif %}
    </div>
</div>











