<div class="col-sm-6 col-md-4 mb-4">
    <div class="card bg-dark text-white border-0 m-0">
        <a href="{{site.baseurl}}{{post.url}}">
            <div class="card-img">
                <img src="{{site.baseurl}}/assets/img/{{post.thumb}}" class="img-fluid w-100"/>
                <div class="card-img-overlay">
                    <div>
                        <p class="card-text">{{post.title}}</p>
                        {% assign tags = post.tags %}
                        {% for tag in tags limit:2 %}
                        <p><a class="btn" style="bottom: 15px;" href="{{site.baseurl}}/tag/{{tag}}.html"><code><nobr>#{{tag}}</nobr></code></a></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>











