<div class="carousel-list col-sm-6 col-md-4 mb-4">
    {% assign posts = site.project | where: "highlight", "1" | where: "active", "1" | reverse %}  
    {% assign counter = -2 %}
    {% for post in posts %}
    <div class="carousel_item card bg-dark text-white border-0 m-0" data-pos="{{counter}}">
        <a href="{{site.baseurl}}{{post.url}}">
            <div class="card-img">
                <img src="{{site.baseurl}}/assets/img/{{post.thumb}}" class="img-fluid w-100"/>
                <div class="card-img-overlay">
                    <div>
                        <p class="card-text">{{post.title}}</p>
                        <p><a class="card-tag" href="{{site.baseurl}}/tag/{{post.tags.first}}.html"><code><nobr>#{{post.tags.first}}</nobr></code></a></p>
                    </div>
                </div>
            </div>
        </a>
    </div>
    {% increment counter %}
    {% endfor %}
</div>

<script src="{{site.baseurl}}/assets/js/slider.js"></script> 

