body {
  font-family: 'Raleway', sans-serif !important;
  font-size: 14px !important;
  display:flex;
  flex-direction:column;
}

h2, h3, h6, h4 {
  font-family: 'Nunito Sans', sans-serif !important;
  color: rgb(30, 52, 131) !important;
}

h6 {
  font-size: 18px !important;
}

a {
  color: #7195ff !important;
  cursor: pointer;
}

.card-img {
  position: relative;
  width: 50%;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.card-img:hover .card-img-overlay {
  opacity: 0.5;
}

.card-text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.highlight {
  background-color: lightgoldenrodyellow;
  color: #000000;
  font-style: italic;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.btn {
  background-color: #000000;
  color: white !important;
  a {
    color: white !important;
  }
}

.btn-inactive {
  background-color: white !important;
  color: #7195ff !important;
  border: 2px solid #7195ff !important;
}

.kbd {
  background-color: #7195ff !important;
  color: white !important;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  text-align: center;
  background-color: #000000;
}



