body {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 13px !important;
  font-weight: 300 !important;
  display:flex;
  flex-direction:column;
}

h2, h3, h6, h4 {
  font-family: 'JetBrains Mono', monospace !important;
  color: #7195ff !important;
}

h6 {
  font-size: 18px !important;
}

a {
  color: #7195ff !important;
  cursor: pointer;
}

.card-img {
  position: relative;
  width: 50%;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.card-img:hover .card-img-overlay {
  opacity: 0.6;
}

.card-text {
  color: white;
  font-weight: 500 !important;
  font-size: 16px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-tag {
  color: #7195ff;
  font-weight: 500 !important;
  font-size: 16px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.highlight {
  background-color: lightgoldenrodyellow;
  color: #ff00ff;
  font-weight: 500 !important;
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.btn {
  background-color: #000000;
  color: white !important;
  a {
    color: white !important;
  }
  font-weight: 300 !important;
  font-size: 14px !important;
}

.btn-inactive {
  background-color: white !important;
  color: #7195ff !important;
  border: 2px solid #7195ff !important;
  font-weight: 300 !important;
  font-size: 14px !important;
}

.kbd {
  background-color: #7195ff !important;
  color: white !important;
  font-weight: 300 !important;
}

#footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 50px;
  text-align: center;
  background-color: #000000;
}

#searchbar{ 
  margin-left: 15%; 
  padding: 15px; 
  border: 2px solid; 
  } 

  input[type=text] { 
    width: 100%; 
    padding-left: 5px;
    -webkit-transition: width 0.15s ease-in-out; 
    transition: width 0.15s ease-in-out; 
  } 

  input::placeholder {
    opacity: 0.8;
    padding-left: 5px;
    font-weight: 100 !important;
  }
